:root{
    --background: white;
	--textcolor: #bebebe;
	--sidebargray: #212527;
	--selectedlight: #33393c;
	--selecteddark: #181b1c;
	--bgdark: #1e2123;
	--bggradient: linear-gradient(#282c2f,#1e2224);
	--font: "Helvetica","Arial","Lucida Grande",sans-serif;
}

/* Content Boxes */
body{
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
	font-family: var(--font);
}
html{
	width: 100%;
	height: 100%;
}
p{
	margin: 0;
    padding: 0;
}
*{
	box-sizing: border-box;
}
.hidden{
	display: none !important;
}

/* Content Boxes */
.content{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: stretch;
}
.sidebar-left{
	flex-shrink: 0;
	width: 310px;
	padding: 20px;
	border-right: 1.2px solid black;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.main-content{
	flex-grow: 1;
	padding: 50px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* Main Content */
.puzzle-container{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.puzzle-container > *{
	max-height: 100%;
	max-width: 100%;
}

/* Sidebar Left */
.sidebar-left > *{
	margin-bottom: 10px;
}
.input-container{
	display: flex;
	flex-direction: row;
}
.label,
.small-checkbox{
	flex-shrink: 0;
	margin-right: 10px;
}
.small-textbox{
	width: 50px;
}
.big-label{
	flex-grow: 1;
}
.settings-box{
	border: 1px solid black;
	padding: 5px;
}
.settings-box > *:not(:last-child){
	margin-bottom: 10px;
}
.tall{
	margin-bottom: 15px;
}
.bold{
	font-weight: bold;
}

.button{
	padding: 5px;
}
